body {background-color: rgb(182, 249, 247);}
h1 {color: rgb(255, 0, 0);}
.button-class {
    background-color: #ffff04; 
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 20px; 
    text-align: center;
    box-shadow: 2px 2px 5px rgb(0, 0, 0); 
    font-weight: bold;
    transition: all 0.3s ease-in-out; 
    }
    
    .button-class:hover {
    background-color: white;
    color: #fb27f4; 
    cursor: pointer; 
    transform: translateY(-2px); 
    box-shadow: 2px 2px 10px #333; 
    }
    .modal-backdrop { 
    background-color: rgb(173, 250, 164); 
    height: 268px;
    width: 200px;
    transform: translateY(-220px);
    position: fixed;
    top: 50%;
    left: 45%;
    border-radius: 10%;
    border: 2px black;  
    box-shadow: 0px 0px 10px rgba(221, 0, 255, 0.5);
    }
    .modal {
        transform: translateY(-220px);
        position: fixed;
        top: 50%;
        left: 50%;    
    }
   .pName {
    text-transform: capitalize;
    font-weight: bolder;
   }
   .pTypes {
    word-spacing: normal;
   }